h1{
  color:royalblue;
}
/* pseudo class styles */
h1:hover{
  color: skyblue;
  background-color: seagreen;
  font-size: 50px;
  font-weight: 700;
}
.middle-person:focus{
  color: blue;
  font-weight: 700;
}
a:visited{
  color: blue;
}
/*  First child, nth child */
li:first-child{
  color: chocolate;
}
li:last-child{
  background: cornflowerblue;
}
/* even number */
li:nth-child(2n){
  color: crimson;
}
/* odd number */
li:nth-child(2n+1){
  background: darkgray;
}
li{
  list-style: none;
}
/* pseudo element styles */
h3::before{
  content: 'Hello ';
}
h3::after{
  content: 'gelo';
  background-color: darkkhaki;
  font-size: 13px;
}

/* position html element styles */
